body {
    background-image: url('images/STScI-01HF7P3B6PW5DS5N9M9XD1EY27.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #d2d2d2;
    line-height: 1.6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header {
    background-image: url('images/main_image_star-forming_region_carina_nircam_final-5mb.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 1rem;
    margin-left: 2rem;
}

.header-content {
    text-align: left;
}

header h1 {
    margin: 0;
}

header a:link { /* Unvisited links */
    color: #fafa7d;
}

header a:visited { /* Visited links */
    color: #00eeff;
}

header a:hover { /* User hovers over the link */
    color: #36fa05;
}

header a:active { /* Selected link */
    color: #fafa7d;
}


section {
    padding: 1rem;
    margin: 1rem;
}

h2 {
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10%;
}

.about-me {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    color: #333;
}

.about-me p {
    color: #666;
    line-height: 1.6;
}

.project-text {
    position: relative;
}

.project-image {
    position: absolute;
    bottom: 2%;
    left: 10%; /* Start by positioning to the right */
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 500px; /* Adjust as needed */
    pointer-events: none;
}

.project-image img {
    width: 100%;
    border-radius: 10px;
}

.hover-instruction {
    font-size: 0.8rem;
    font-style: italic;
    color: #666;
    margin-top: 5px;
}

.hover-instruction:hover + .project-image, .project-image:hover {
    opacity: 1;
}

/* Desktop Style */

#combined-sections {
    display: flex;
    justify-content: space-between;
}

.section-container {
    position: relative;
    margin-bottom: 2rem;
    width: 48%;
}

.section-title {

    top: -1rem;
    left: -1rem;
    background-color: #d2d2d2;
    padding: 0.5rem;
    border-radius: 5px;
}

.content-container {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

/* Mobile Style */
@media screen and (max-width: 768px) {
    #combined-sections {
        flex-direction: column;
    }

    .content-container {
        width: 100%;
    }
}

h2, h3 {
    color: #333;
}

a {
    color: #1a0dab;
}
